<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', { title: 'Add new user' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
        <%- include('includes/header') %>
        <main>
          <h1>Add a new user</h1>
          <form action="/add-user" method="POST">
            <div class="form-control">
              <label for="title">Name</label>
              <input type="text" id="title" name="auth_name" required>
            </div>
            <div class="form-control">
              <label for="summary">Email</label>
              <input type="text" id="summary" name="auth_email" required maxlength="255">
            </div>
            <button class="btn">Add User</button>
          </form>
        </main>
</body>
</html>